/*
#hangDiv{
	height: 100%;
	width: 75%;
	margin: 3vh auto ;
  background-color: lightgoldenrodyellow ;
  display: flex;
	justify-content:center;
	align-content:center;
	text-align: center;
  flex-direction: column;
	flex-wrap: wrap;

}*/
.hangmanDiv{
	height: 100%;
	width: 100%;
	margin: 3vh auto ;
  font-size: 3vw;
  display: flex;
	justify-content:center;
	align-content:center;
	text-align: center;
  flex-direction: column;
}
